:root {
  --color-white: #fefefe;
  --color-accion: #00447c;
  --color-main: #102d44;
  --color-complement: #5bad40;
  --color-fonts: #303030;
  --color-accent: #1b3764b9;
  --color-grey: #f3f1f1;
  --color-grey-1: #c9cace;
  --color-grey-2: #76777d;
  --border-radius: 20px;
  --shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 
  0 6px 6px rgba(0, 0, 0, 0.05);
  --font: "Roboto", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  scroll-padding-top: 6em;
}

body {
  font-size: 18px;
  line-height: 1.6;
  color: var(--color-fonts);
  font-family: var(--font);
  background-color: var(--color-white);
  font-style: normal;
  font-optical-sizing: auto;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: none;
  letter-spacing: -0.02em;
  line-height: 1.12;
  margin-bottom: 1em;
}

h1 {
  font-size: clamp(3rem, 2.52rem + 2.4vw, 4.5rem);
  color: var(--color-accent);
  font-weight: 900;
}

h2{
  position: relative;
  font-size: clamp(2rem, 1.692rem + 1.54vw, 3rem);
  color: var(--color-main);
  max-width: 20ch;
}

h2::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -60px;
  transform: translateY(-10%);
  width: 320px;
  height: 196px;
  background-image: url('/assets/img/background-subtitles.avif');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.8;
}

p,
li {
  font-size: clamp(1.125rem, 1.085rem + 0.2vw, 1.25rem);
  max-width: 50ch;
  margin-bottom: 1rem;
}


a {
  color: var(--color-accion);
  text-decoration: none;
  font-weight: 700;
  transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


img {
  border-style: none;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: left;
  overflow: visible;
}

.wrapper {
  width: min(calc(100% - 2rem), 1920px);
  margin-inline: auto;
  padding: 0 0 10em;
}

.two_columns {
  width: min(100%, 1920px);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  align-items: center;
  justify-content: space-between;
  
  div{
    padding: clamp(1.5rem, 1.5rem + 0.5vw, 2rem);
    flex: 1 0 400px;
    z-index: 10;
    max-width: 100%;
  }
}

.image_outer{
  position: absolute;
  top: 0;
  z-index: 1;
  
  &.right{
    right: 0;
  }

  &.left{
    left: 0;
  }
}

.image_outer__seccion{
  position: absolute;
  top: 5em;

}

.text_background {
  padding: 20px;
  display: grid;
  align-content: end;
  background-color: #ffffffc2;
  border-radius: var(--border-radius);
}

/* WhatsApp Button */
.boton-whatsapp {
  position: fixed;
  bottom: 8rem;
  right: 12px;
  z-index: 100;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s 6 alternate-reverse both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s 6 alternate-reverse both;
  transition: all .2s ease-in-out;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
}

.boton-whatsapp:hover {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(190, 190, 190, .7));
  filter: drop-shadow(5px 5px 5px rgba(190, 190, 190, .7));
  transform: scale(1.05);
}

/* Keyframes for the animation */
@-webkit-keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

/* scroll top */
.boton-up {
  position: fixed;
  right: 15px;
  bottom: 48px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-accion);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  transition: all 300ms ease-in;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
}

.boton-up.visible {
  opacity: 1;
  visibility: visible;
}

.boton-up:hover {
  transform: scale(1.1);
}

/* Asegurarse de que el icono sea blanco */
.boton-up svg {
  color: white;
}