<footer>
  <section>
    <div>
      <a href="{{site.baseurl}}/">
        <img src="{{'logo.webp'|relative_url}}" alt="Logo de sanagustinhuila.com.co" width="120" loading="lazy">
      </a>
      <h4>San Agustín Huila</h4>
    </div>
    <div>
      <h4>Sitios turísticos</h4>
      <a href="{{ site.baseurl }}/turismo-san-agustin/parque-arqueologico-san-agustin">Parque arqueológico de San Agustín</a>
      <a href="{% post_url 2023-03-27-mirador-mano-del-gigante-en-gigante-huila %}">Mano del Gigante</a>
      <a href="{% post_url 2023-03-15-cascada-salto-mortino-isnos %}">Salto del Mortiño</a>
    </div>
    <div>
      <h4>Visita a San Agustín</h4>
      <a href="{{'turismo-san-agustin'|relative_url}}" title="Turismo San Agustín">Turismo</a>
      <a href="{{'hoteles-san-agustin'|relative_url}}" title="Hoteles San Agustín">Hoteles</a>
      <a href="{{'restaurantes-san-agustin'|relative_url}}" title="Restaurantes San Agustín">Restaurantes</a>
    </div>
    <!-- <div>
      <h4>Síguenos</h4>
      <a href="{{site.instagram}}">Perfil de Instagram</a>
      <a href="{{site.facebook}}">Perfil de Facebook</a>
      <a href="{{site.pinterest}}">Perfil de Pinterest</a>
    </div> -->
    <div>
      <h4>Legal </h4>
      <a href="{{site.baseurl}}/legal">Privacidad, términos y condiciones</a>
      <a href="mailto:contacto@sanagustinhuila.com.co">E-mail</a> 
      <a href="{{site.baseurl}}/contacto">Escríbenos</a>
    </div>
  </section>
  <section>
    <p>Las normas y leyes de turismo son reguladas por <a href="https://www.mincit.gov.co/minturismo/inicio"
      rel="nofollow noopener noreferrer" target="_blank" title="Link del ministerio de turismo colombiano">El Ministerio de comercio, industria y turismo</a> de Colombia</p>
  <p>&copy; sanagustinhuila.com.co - {{ "now" | date:"%Y"}} - Todos los derechos reservados</p>
  </section>
</footer>