  <!-- Footer -->
  <footer class="footer">
    <h2>Vacaciones Opitas</h2>

      <p>Lorena Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Visitas nuestros perfiles en <a href="#">LinkedIn</a> y en la <a href="#">ficha de Google Business</a>. Escríbenos por WhatsApp:<a href="#">+573200000000</a>, y, por supuesto, aquí están los <a href="#">términos y condiciones</a>, <a href="#">política de privacidad</a> y <a href="#">políticas de cookies</a> de nuestra página web.</p>

    <p class="footer-closing">¡En tantico nos vemos!</p>

    <div class="footer-copyright">
      ©vacacionesopitas.com 2025 - Todos los derechos reservados. Página realizada por
      {% if page.url == "/" %}
      <a href="https://juli.com.co">juli.com.co</a>
      {% endif %}
    </div>
  </footer>