<div class="gallery">
  <a class="item item-5" href="{{site.baseurl}}/turismo-san-agustin/salto-del-mortino-columpio-puente-cristal" title="Salto del Mortiño">
    <h3>El Salto del Mortiño en Isnos Huila</h3>
    <img src="{{site.baseurl}}/img/blog/salto-mortino-culumpio-puente-cristal-376.webp" alt="Salto Mortiño" loading="lazy" width="376" height="213">
  </a>
  <a class="item item-1" href="{{site.baseurl}}/turismo-san-agustin/parque-arqueologico-san-agustin" title="Parque arqueológico de San Agustín Huila">
    <h3>Parque Arqueológico de San Agustín</h3>
    <img src="{{site.baseurl}}/img/blog/parque-arqueologico-san-agustin-376.webp" alt="Parque San Agustin" loading="lazy" width="376" height="213">
  </a>
  <a class="item item-3" href="{{site.baseurl}}/turismo-san-agustin/parque-tematico-sumak-san-agustin" title="Parque Sumak">
    <h3>Parque Sumak en San Agustín</h3>
    <img src="{{site.baseurl}}/img/blog/parque-sumak-san-agustin-huila-376.webp" alt="Parque Sumak" loading="lazy" width="376" height="213">
  </a>
  <a class="item item-2" href="{{site.baseurl}}/turismo-san-agustin/san-agustin-huila-magia-aventura-extrema" title="San Agustín Huila turismo">
    <h3>San Agustín Huila: magia y aventura</h3>
    <img src="{{site.baseurl}}/img/blog/san-agustin-huila-376.webp" alt="San Agustin" loading="lazy" width="376" height="213">
  </a>
  <a class="item item-4" href="{{site.baseurl}}/turismo-san-agustin/estrecho-rio-magdalena" title="Estrecho del Magdalena">
    <h3>Estrecho del Magdalena</h3>
    <img src="{{site.baseurl}}/img/blog/estrecho-rio-magdalena-376.webp" alt="Estrecho Magdalena" loading="lazy" width="376" height="213">
  </a>
</div>
