<div class="gallery">
  <a class="item item-5" href="{{site.baseurl}}/turismo-san-agustin/salto-del-mortino-columpio-puente-cristal" title="Salto del Mortiño">
    <h3>El Salto del Mortiño en Isnos Huila</h3>
    <img src="{{site.baseurl}}/img/blog/salto-mortino-culumpio-puente-cristal-376.webp" alt="Salto Mortiño" loading="lazy" width="376" height="213">
  </a>
  <a class="item item-1" href="{{site.baseurl}}/turismo-san-agustin/mirador-mano-del-gigante-en-gigante-huila" title="Parque arqueológico de San Agustín Huila">
    <h3>Mirador Mano Gigante Huila</h3>
    <img src="{{site.baseurl}}/img/blog/mirador-mano-del-gigante-huila-600.webp" alt="Mano del Gigante" loading="lazy" width="376" height="213">
  </a>
  <a class="item item-3" href="{{site.baseurl}}/turismo-san-agustin/parque-tematico-sumak-san-agustin" title="Parque Sumak">
    <h3>Parque Sumak en San Agustín</h3>
    <img src="{{site.baseurl}}/img/blog/parque-sumak-san-agustin-huila-376.webp" alt="Parque Sumak" loading="lazy" width="376" height="213">
  </a>
  <a class="item item-2" href="{% post_url 2023-02-22-cascada-los-tres-chorros-de-san-agustin %}" title="Cascada los Tres Chorros">
    <h3>Los Tres Chorros</h3>
    <img src="{{site.baseurl}}/img/blog/tres-chorros-cascada-imponente-san-agustin-600.webp" alt="3 chorros" loading="lazy" width="376" height="213">
  </a>
  <a class="item item-4" href="{{site.baseurl}}/turismo-san-agustin/estrecho-rio-magdalena" title="Estrecho del Magdalena">
    <h3>Estrecho del Magdalena</h3>
    <img src="{{site.baseurl}}/img/blog/estrecho-rio-magdalena-376.webp" alt="Estrecho Magdalena" loading="lazy" width="376" height="213">
  </a>
</div>
