<div class="gallery">
  <a class="item item-1" href="{{site.baseurl}}/turismo-san-agustin/parque-arqueologico-san-agustin" title="Parque arqueológico de San Agustín Huila">
    <h3>Parque Arqueológico de San Agustín</h3>
  </a>
  <a class="item item-2" href="{{site.baseurl}}/turismo-san-agustin/san-agustin-huila-magia-aventura-extrema" title="San Agustín Huila turismo">
    <h3>San Agustín Huila: magia y aventura</h3>
  </a>
  <a class="item item-3" href="{{site.baseurl}}/turismo-san-agustin/parque-tematico-sumak-san-agustin">
    <h3>Parque Sumak en San Agustín</h3>
  </a>
  <a class="item item-4" href="{{site.baseurl}}/turismo-san-agustin/estrecho-rio-magdalena">
    <h3>Estrecho del Magdalena</h3>
  </a>
  <a class="item item-5" href="{{site.baseurl}}/hoteles-san-agustin/hotel-masaya-san-agustin-huila">
    <h3>Hotel Masaya en San Agustín</h3>
  </a>
</div>