<header class="hero">
  <section class="wrapper two_columns">
    <div class="text_background">
      <h1>Ven al Huila, un paraíso de naturaleza y cultura en Colombia</h1>
      <p>El departamento del Huila te ofrece paisajes impresionantes, sitios arqueológicos únicos y experiencias auténticas que no encontrarás en ningún otro lugar. <strong>Si no lo conoces, este es el momento.</strong> ¡Escríbenos!</p>
      {% include boton_main.html %}
      <a href="" class="boton_secundario">Lorem ipsum dolor</a>
    </div>
    <div class="hero_column_2">
      <p class="places">Parque arqueológico de San Agustín Huila</p>
    </div>
  </section>
  <img src="{{'/assets/img/parque-arqueologico-de-san-agustin-huila-colombia.avif' | relative_url}}" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit" width="720" height="720" loading="eager" fetchpriority="high" decoding="async" class="image_outer right">
</header>