<header class="hero">
  <section class="wrapper two_columns">
    <div class="hero_column_1">
      <h1>Lorem ipsum dolor sit amet</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, totam rerum veniam officia doloremque animi?</p>
      <a href="#" class="buttons">Lorem ipsum dolor</a>
      <a href="" class="hero_secondary_button">Lorem ipsum dolor</a>
    </div>
    <div class="hero_column_2">
      <p class="places">Parque arqueológico de San Agustín Huila</p>
    </div>
  </section>
  <img src="{{'/assets/img/parque-arqueologico-de-san-agustin-huila-colombia.avif' | relative_url}}" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit" width="720" height="720" loading="eager" fetchpriority="high" decoding="async" class="image_hero">
</header>