<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    
    <ul id="menu">
      <a href="#"><li>Home</li></a>
      <a href="#"><li>About</li></a>
      <a href="#"><li>Info</li></a>
      <a href="#"><li>Contact</li></a>
      <a href="#" target="_blank"><li>Show me more</li></a>
    </ul>
  </div>
  <a href="/" class="logo_inicio">
    <img src="{{'/assets/img/logotipo.svg'|relative_url}}" alt="Logotipo de la agencia de turismo del Huila llamada" title="Turismo en el Huila" loading="eager" fetchpriority="high" decoding="async" width="80" height="48">
  </a>
</nav>