<div class="heroslider">
  <div class="slider">
    <div class="slide slide1">
      <div class="caption">
        <h2>La Magia de San Agustín</h2>
        <p>Un viaje lleno de historia, aventura y mucha naturaleza.</p>
          <a href="{{site.baseurl}}/cultura/tour-san-agustin-huila/">Conocer más</a>
      </div>
    </div>
    <div class="slide slide2">
      <div class="caption">
        <h2>Travesía al Cañón del Rió Guejar</h2>
        <p>Experiencias extremas con personal profesional.</p>
          <a href="{{site.baseurl}}/cultura/tour-travesia-rio-guejar/">Conocer más</a>
      </div>
    </div>
    <div class="slide slide3">
      <div class="caption">
        <h2>Las Pinturas Rupestres del Guaviare</h2>
        <p>Una historia fascinante por conocer.</p>
          <a href="{{site.baseurl}}/cultura/tour-guaviare-ancestral/">Conocer más</a>
      </div>
    </div>
    <div class="slide slide4">
      <div class="caption">
        <h2>Estrellas del Desierto de la Tatacoa</h2>
        <p>Una experiencia única en el mejor observatorio de estrellas de Colombia</p>
          <a href="{{site.baseurl}}/cultura/naturaleza/tour-desierto-tatacoa-san-agustin-huila/">Conocer más</a>
      </div>
    </div>
    <div class="slide slide1">
      <div class="caption">
        <h2>La Magia de San Agustín</h2>
        <p>Un viaje lleno de historia, aventura y mucha naturaleza.</p>
          <a href="{{site.baseurl}}/cultura/tour-san-agustin-huila/">Conocer más</a>
      </div>
    </div>
  </div>
</div>