{% if page.layout == 'post' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  },
  "headline": "{{ page.title }}",
  "description": "{{ page.description }}",
  "image": "{{ site.url }}{{ page.image | default: '/assets/img/default-blog-image.jpg' }}",
  "author": {
    "@type": "Person",
    "name": "{{ page.author | default: site.author.name }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}{{ site.logo }}"
    }
  },
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
  {% if page.categories %}
  "keywords": "{{ page.categories | join: ',' }}",
  {% endif %}
  {% if page.tags %}
  "keywords": "{{ page.tags | join: ',' }}",
  {% endif %}
  "articleSection": "{{ page.categories[0] | default: 'Travel' }}"
}
</script>
{% endif %}