.footer{
  background-color: #5bad4061;
  box-shadow: 0 0 0 100vmax #5bad4061;
  clip-path: inset(0 -100vmax);
  width: min(calc(100% - 2rem), 992px);
  margin-inline: auto;
  padding: 120px 0 4em;
  display: grid;
  place-items: center;
  gap: 3em;
  text-align: center;

  h2:before{
    display: none;
  }
  
  p{
    font-size: 1.2em;
    max-width: 100%;
  }

  .footer-closing{
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
  }
}
