.hero {
  position: relative;
  height: max-content;

  .two_columns{
    position: relative;
    z-index: 10;
   
    .hero_column_1{
      padding: 0 12px;
      display: grid;
      align-content: end;
      background-color: #ffffffc2;
      border-radius: var(--border-radius);
  
      .hero_secondary_button{
        font-weight: 700;
        color: var(--color-main);
        padding: 1em 2em;
      }
  
      h1, p{
        max-width: 560px;
      }
    }
  
    .hero_column_2{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}

/* Hero Section */


.hero__text {
  padding-right: 2rem;
}

.hero__text h1 {
  font-size: 3.5rem;
  color: #1B3764;
  margin-bottom: 1.5rem;
}

.hero__text p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}