.hero {
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;

  .two_columns {
    position: relative;
    z-index: 10;

    h1,
    p {
      max-width: 560px;
    }
  }

  .hero_column_2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.hero__text {
  padding-right: 2rem;
}

.hero__text h1 {
  font-size: 3.5rem;
  color: #1b3764;
  margin-bottom: 1.5rem;
}

.hero__text p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}
