/* Intro es la sección del diseño que muestra un texto informativo sin CTA */
.intro {
  border-radius: 32px;
  background: var(--complemento2);
  box-shadow: var(--shadow);
  padding: 4em 2em;
  display: grid;
  place-items: center;
  gap: 1.5rem;
  text-align: center;
}

.intro h4 {
  text-align: center;
}

.intro div {
  width: min(80%, 800px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  flex-wrap: wrap;
  line-height: 1;
}

.cta-home {
  position: relative;
  background-color: var(--secundario);
  box-shadow: 0 0 0 100vmax var(--secundario);
  clip-path: inset(0 -100vmax);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 4rem 16px;
  color: white;
  overflow: visible;
}

.cta-home div {
  display: grid;
  gap: 1em;
  width: min(100%, 480px);
  place-items: center;
}

.cta-home div img {
  border-radius: 16px 30%;
  box-shadow: var(--shadow);
  max-width: 100%;
  align-self: center;
}

.cta-home div ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.cta-home div ul li {
  flex: 1 0 120px;
  background-color: #fefefe;
  display: grid;
  padding: .7rem;
  border-radius: 8px;
  box-shadow: var(--shadow);
  color: var(--grisFuentes);
  place-items: center;
}

.cta-home div ul li span {
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--fuenteGraficas);
}

.cta-home p a{
  color: white;
}

.cta-home img{
  width: min(100%, 920px)
}

.blog-home {
  display: flex;
  gap: 2em .8em ;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-home > p{
  max-width: 992px;
  text-align: center;
}

.blog-home article {
  width: min(100%, 360px);
  border-bottom: 1px dotted var(--gris1);
  padding-bottom: 1em;
}

.blog-home article p{
  font-weight: bold;
  margin-top: 12px;
}

.blog-home img {
  width: 100%;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  object-fit: cover;
}

.conclusion {
  background-color: var(--complemento2);
  box-shadow: 0 0 0 100vmax var(--complemento2);
  clip-path: inset(0 -100vmax);
  padding: 5rem 0;
  display: grid;
  gap: 1.5rem;
  place-items: center;
}

.conclusion h2 {
  max-width: 720px;
}

.conclusion ul {
  background-color: var(--complemento2);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  padding: 1rem;
  border-radius: var(--radius);
}

.conclusion ul li {
  padding: .5rem;
}

.conclusion ul li:not(li:last-child) {
  border-right: 1px solid var(--gris2);
}

.conclusion ul li span:not(p span) {
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--fuenteGraficas);
}

.conclusion ul li a {
  color: var(--accion);
}

.conclusion ul li p,
.conclusion div:last-child p {
  font-weight: 300;
}

.conclusion ol li {
  list-style: decimal;
  margin-left: 1.8rem;
}

.conclusion ol li::marker {
  font-size: 1.5rem;
}

.conclusion div:last-child {
  display: grid;
  gap: 1rem;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.conclusion div:last-child h2 {
  margin: 0;
}

