.hoteles{
  padding-top: 4em;
  display: grid;
  gap: 1.5rem;
}

.hoteles div{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-items: baseline;
}

.hoteles div article{
  position: relative;
  background-color: white;
  width: min(100%, 320px);
  display: grid;
  overflow: hidden;
  border-radius: var(--radius);
  border: 1.2px solid var(--gris1);
  padding-bottom: .7rem;
  align-items: center;
}

.hoteles div article span{
  display: flex;
  padding: 0.7rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.hoteles div article > a:not(.botones){
  display: block;
  padding: 0 .5rem;
  line-height: 1.1;
  font-size: .9rem;
}

.hoteles div article img{
  max-width: 100%;
}

.hoteles div article h3{
  font-size: 1.2rem;
  color: var(--secundario);
  padding: .7rem 0 0 .7rem;
}

.hoteles div article ul {
  padding: .7rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hoteles div article ul li{
  font-size: 1rem;
  list-style: none;
}

.hoteles div article .botones{
  margin: 0 1em;
  text-align: center;
  font-size: 1.2rem;
}