.experiencias {
  background-image: url("/assets/img/mapa-del-huila-720.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 300px;

  .experiencia {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    gap: 4em;

    .vertical {
      gap: 4em;

      span {
        padding: 40px 60px;
        font-size: 4em;
        line-height: 1;
        background-color: var(--color-complement);
        color: white;
        border-radius: 50%;
        max-width: -webkit-max-content;
        max-width: -moz-max-content;
        max-width: max-content;
      }
    }
  }
}

.conclusion{
  display: grid;
  place-items: center;
  padding: 4em 0;
  background-color: var(--color-accent);
  box-shadow: 0 0 0 100vmax var(--color-accent);
  clip-path: inset(0 -100vmax);
  color: white;
  text-align: center;
}