@media (width >= 1180px){
  .hero .hero_column_1{
    background-color: transparent;
    padding: 0;
  } 
}

@media (min-width: 768px) {
  .experiencias {
    background-image: url('/assets/img/mapa-del-huila.avif');
  }

  .testimonios_secundarios{
    min-height: 40dvh;
  }
}

@media (min-width: 992px) {
  .fotos div{
    background-color: transparent;
    padding: 0;
  }
}