@media (width >= 1180px){
  .hero{
    .hero_column_1{
      background-color: transparent;
      padding: 0;
    } 

    
  }
}

@media (width >= 420px){
  .hero .hero_column_2 .places{
    transform: rotate(0deg) translateY(0);
    transform-origin: none;
      width: min(100%, 400px);
  }
}