:root {

  /*** COLORES ***/
  --principal: #5EB671;
  --accion: #039422;
  --secundario: #2F7CBA;
  --complemento1: #9dc5bb;
  --complemento2: #DEE5E5;
  --gris1: rgba(191, 191, 191, 1);
  --gris2: rgba(140, 140, 140, 1);
  --gris3: rgba(89, 89, 89, 1);
  --gris4: rgba(64, 64, 64, 1);
  --grisFuentes: #111413;
  /*** FUENTES ***/
  --fuenteTitulos: 'Sarala', sans-serif;
  --fuenteTexto: 'Trykker', serif;
  /* BORDERS */
  --radius: 12px;
  /* SOMBRA */
  --shadow: 0 2px 8px rgba(22, 22, 22, .3);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1.6;
  font-family: var(--fuenteTexto);
  font-size: var(--sizeTexto);
  color: var(--grisFuentes);
  background-color: #fefefe;
  font-size: calc(15px + 0.390625vw);
}

h1, h2, h3, h4, h5{
  font-family: var(--fuenteTitulos);
  line-height: 1.24;
}

h1 {
  font-size: clamp(2.2rem, 1.982rem + 1.09vw, 2.8rem);
  margin: 0;
}

h2 {
  font-size: clamp(1.86rem, 1.678rem + 0.91vw, 2.36rem);
  text-align: center;
}

h3 {
  font-size: clamp(1.4rem, 1.233rem + 0.84vw, 1.86rem);
}

h4 {
  font-size: clamp(1.16rem, 1.145rem + 0.07vw, 1.2rem);
}

h5,
p,
li {
  word-wrap: break-word;
  font-size: clamp(1rem, 0.942rem + 0.29vw, 1.16rem);
}

pre {
  font-family: monospace, monospace;
}

a {
  background: transparent;
  font-family: var(--fuenteTexto);
  text-decoration-thickness: 2.6px;
  font-weight: 900;
  color: var(--accion);
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

input {
  border: inset;
  padding: .7rem;
  border-radius: var(--radius);
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border-radius: var(--radius);
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

li {
  list-style: none;
}

.wrapper {
  width: min(95%, 1128px);
  margin-inline: auto;
  margin-bottom: 4rem;
}

.flow>*+*:not(h1) {
  margin-top: 1em;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--secundario);
}

.svg-icon circle {
  stroke: var(--secundario);
  stroke-width: 1;
}

blockquote {
  border: .8px solid var(--gris1);
  border-radius: var(--radius);
  padding: 2em;
  margin: 1em 0;
  border: 2px solid var(--complemento1);
  box-shadow: var(--shadow);
  background-color: white;
}

blockquote a,
.botones {
  margin: 1rem 0 0;
  display: block;
  float: right;
  background-color: var(--accion);
  color: white !important;
  text-decoration: none;
  padding: 12px 22px;
  border-radius: 12px;
  box-shadow: none;
  transition: .1s all ease-out;
  font-family: var(--fuenteTitulos);
}

blockquote a:hover,
.botones:hover {
  box-shadow: var(--shadow);
  transform: scale(1.016);
}

blockquote a:active,
.botones:active {
  box-shadow: none;
}

.boton_1 a{
  color: white;
  text-decoration: none;
}

table tr {
  border-bottom: 2px solid var(--gris1);
  display: block;
  margin-bottom: .625em;
}

table th,
table tr {
  display: flex;
  flex-wrap: wrap;
  gap: .3rem 1.8rem;
}

.basic {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 2px dotted var(--gris1);
  padding-bottom: 2rem;
}

.seccion {
  background-color: var(--complemento2);
  box-shadow: 0 0 0 100vmax var(--complemento2);
  clip-path: inset(0 -100vmax);
  padding: 2em 0;
}
