---
layout: default
---
{% include breadcrumbs.html %}
<main class="post-content wrapper flow">
  {{ content }}
  {% if page.referencias %}
  <section id="fuentes">
    <h4>Créditos y referencias</h4>
    <div>
      {% for link_hash in page.referencias %}
      {% for link in link_hash %}
      <ul>
        <li>
          <a href="{{ link[1] }}" rel="nofollow noopener noreferrer" target="_blank">{{ link[0] }}</a>
        </li>
      </ul>
      {% endfor %}
      {% endfor %}
    </div>
  </section>
  {% endif %}
</main>
<section class="cta-home wrapper flow">
  <div>
    <h2>San Agustín Huila: Turismo histórico y espiritual</h2>
    <p>San Agustín de Huila es un lugar turístico muy conocido en Colombia debido a su atractivo histórico y espiritual. Situado en el departamento de Huila, <strong>cuenta con numerosos sitios arqueológicos, entre los que destacan las más de 500 estatuas de origen desconocido que se pueden encontrar en la zona.</strong></p>
    <p><strong>Tres zonas arqueológicas han sido declaradas Patrimonio Histórico y Cultural de la Humanidad por la UNESCO,</strong> lo que atrae a turistas de todo el mundo. Además, la cultura y la naturaleza son también parte esencial de la región, siendo posible disfrutar de actividades como el agroturismo o las rutas de aventura.</p>
  </div>
  <div>
    <img src="{{site.baseurl}}/img/san-agustin-huila.avif" alt="Pueblo San Agustín Huila">
    {% include cta.html texto="Buscar hotel en San Agustín" %}
  </div>
</section>


{% include footer.html %}